@mixin hover-transition() {
  transition: font-size 0.5s ease;
}

@mixin window-style($width: 100%) {
  width: $width;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

@mixin field() {
  background-color: transparent;
  color: var(--lavander);
  border: 1px solid var(--blue-violet);
  padding: 10px;
}

@mixin field-label() {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.6px;
  margin-bottom: 5px;
}
