@mixin hover-transition() {
  transition: font-size 0.5s ease;
}

@mixin window-style($width: 100%) {
  width: $width;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

@mixin field() {
  background-color: transparent;
  color: var(--lavander);
  border-image: linear-gradient(
      to right,
      var(--blue-violet) 20%,
      var(--fuchsia) 100%
    )
    1;
  border-width: 1px;
  border-style: solid;
}
