@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background-dark: #0d0d0d;
  --fuchsia: #ff00ff;
  --blue-violet: #8a2be2;
  --lavander: #e6e6fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Exo", sans-serif;
  background-color: var(--background-dark);
  color: var(--lavander);
}