.main {
  min-height: 100vh;

  .content {
    padding: 20px 0;

    .container {
      display: flex;
      gap: 20px;
      align-items: flex-end;

      Button {
        margin-left: auto;
      }
    }

    .response {
      margin: 50px 30px;
      letter-spacing: 1.4px;
      line-height: 1.8;
      font-size: 18px;

      Button {
        margin-top: 20px;
      }
    }

    .loading {
      text-align: center;
      margin-block: 100px;
    }
  }
}
