.headerBtn {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--lavander);
  font-size: 14px;
  @include hover-transition();

  &:hover {
    background: linear-gradient(
      to right,
      var(--blue-violet) 20%,
      var(--fuchsia) 100%
    );
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}
