.inputBox {
  input {
    padding: 5px;
    border: 1px solid purple;
    @include field();

    &:focus {
      outline: solid 0.5px var(--lavander);
    }
  }

  h3 {
    @include field-label();
  }
}
