.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  height: 80px;
  width: 100%;
  border-image: linear-gradient(
      to right,
      var(--blue-violet) 20%,
      var(--fuchsia) 100%
    )
    1;
  border-width: 3px;
  border-style: solid;
}

.header_container h1 {
  font-weight: 300;
  letter-spacing: 1.6px;
}
